.video-conteiner {
  width: 85%;
  margin: auto;
}

.video-conteiner h2 {
  float: right;
  margin: 40px 0px 15px 0px;
  color: rgba(48, 48, 48, 0.795);
}

.video {
  width: 100%;
}

.video-conteiner p {
  font-size: 25px;
  text-align: center;
  width: 100%;
}
